.button-base {
  position: absolute;
  width: 10%;
  height: 30%;
  opacity: .7 !important;
  border: 0px solid black !important;
  margin: 10px;
}
.bottom-row-button {
  bottom: 0%;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
}
.top-row-button {
  top: 0%;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 20px;
}
.video-button {
  bottom: 0%;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  position: absolute;
  width: 10%;
  height: 30%;
  opacity: .7 !important;
  border: 0px solid black !important;
  margin: 10px;
  background: #5369c9;
  color: white;
}
.expander-button {
  position: absolute;
  width: 10%;
  height: 30%;
  opacity: .7 !important;
  border: 0px solid black !important;
  margin: 10px;
  top: 0%;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 20px;
  background-color: #5369c9;
  transition: background-color 0.5s;
  color: white;
}
.expander-button:hover {
  background-color: #a0b3fd;
}
.bottom-right-panel {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  height: 20%;
  width: 40%;
  bottom: 10%;
  right: -35%;
  border-radius: 5px;
}
@keyframes indigo-button-fade-light {
  from {
    background: #5369c9;
  }
  to {
    background: #a0b3fd;
  }
}
@keyframes indigo-button-fade-dark {
  to {
    background: #5369c9;
  }
}
@keyframes slide-buttons-left {
  from {
    right: -35%;
  }
  to {
    right: 0%;
  }
}
@keyframes slide-buttons-right {
  from {
    right: 0%;
  }
  to {
    right: -35%;
  }
}
