.button-base {
  position: absolute;
  width: 10%;
  height: 30%;
  opacity: .7 !important;
  border: 0px solid black !important;
  margin: 10px;
}
.button-base:active {
  background-color: orange !important;
}
.dropdown-list {
  margin: 2px;
  background-color: #5369c9;
  opacity: .7;
  color: white;
  font-size: 12px;
  border-radius: 2px;
  position: inherit;
  margin-left: 12px;
  margin-top: 6px;
}
.color-flash-slow {
  -webkit-animation: color-change 1s ease-in-out infinite alternate;
  -moz-animation: color-change 1s ease-in-out infinite alternate;
  -o-animation: color-change 1s ease-in-out infinite alternate;
  -ms-animation: color-change 1s ease-in-out infinite alternate;
  animation: color-change 1s ease-in-out infinite alternate;
}
.bottom-row-button {
  bottom: 0%;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
}
.top-row-button {
  top: 0%;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 20px;
}
.flashing-text {
  position: absolute;
  right: 11%;
  top: 20%;
  color: white;
  font-size: 16px;
}
.warp-button {
  bottom: 0%;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  position: absolute;
  width: 10%;
  height: 30%;
  opacity: .7 !important;
  border: 0px solid black !important;
  margin: 10px;
  background: #5369c9;
  color: white;
}
.warp-button:active {
  background-color: orange !important;
}
.expander-button {
  position: absolute;
  width: 10%;
  height: 30%;
  opacity: .7 !important;
  border: 0px solid black !important;
  margin: 10px;
  top: 0%;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 20px;
  background-color: #5369c9;
  transition: background-color 0.5s;
  transition: transform .5s;
  color: white;
}
.expander-button:active {
  background-color: orange !important;
}
.expander-button:hover {
  background-color: #a0b3fd;
}
.bottom-right-panel {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  height: 25%;
  width: 40%;
  bottom: 10%;
  right: -35%;
  border-radius: 5px;
  z-index: 10;
}
@keyframes indigo-button-fade-light {
  from {
    background: #5369c9;
  }
  to {
    background: #a0b3fd;
  }
}
@keyframes indigo-button-fade-dark {
  to {
    background: #5369c9;
  }
}
@keyframes slide-buttons-left {
  from {
    right: -35%;
  }
  to {
    right: 0%;
  }
}
@keyframes slide-buttons-right {
  from {
    right: 0%;
  }
  to {
    right: -35%;
  }
}
@-webkit-keyframes color-change {
  0% {
    color: White;
  }
  50% {
    color: #a0b3fd;
  }
  100% {
    color: #5369c9;
  }
}
@-moz-keyframes color-change {
  0% {
    color: White;
  }
  50% {
    color: #a0b3fd;
  }
  100% {
    color: #5369c9;
  }
}
@-ms-keyframes color-change {
  0% {
    color: White;
  }
  50% {
    color: #a0b3fd;
  }
  100% {
    color: #5369c9;
  }
}
@-o-keyframes color-change {
  0% {
    color: White;
  }
  50% {
    color: #a0b3fd;
  }
  100% {
    color: #5369c9;
  }
}
@keyframes color-change {
  0% {
    color: White;
  }
  50% {
    color: #a0b3fd;
  }
  100% {
    color: #5369c9;
  }
}
#station-select {
  margin: 2px;
  background-color: #5369c9;
  opacity: .7;
  color: white;
  font-size: 12px;
  border-radius: 2px;
  margin-left: 12px;
  margin-top: 6px;
  height: 28px;
  width: 200px !important;
  position: inherit;
  right: 1%;
  top: 3%;
}
#station-select-label {
  position: absolute;
  right: 11%;
  top: 20%;
  color: white;
  font-size: 16px;
  -webkit-animation: color-change 1s ease-in-out infinite alternate;
  -moz-animation: color-change 1s ease-in-out infinite alternate;
  -o-animation: color-change 1s ease-in-out infinite alternate;
  -ms-animation: color-change 1s ease-in-out infinite alternate;
  animation: color-change 1s ease-in-out infinite alternate;
}
#apod-description {
  font-size: 10px;
  margin: 10px;
  color: white;
  opacity: .7;
  position: inherit;
  left: 20%;
  bottom: 0%;
}
