<div class="screen-background"></div>
<!-- <iframe width="1920" height="1080" src="https://www.youtube.com/embed/3Ghaf2du-XM?rel=0&amp;controls=0&amp;showinfo=0&amp;start=28&amp;autoplay=true&amp;loop=1&amp;mute=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
<!-- <app-youtube-video *ngFor="let t of testIds" [id]="t"></app-youtube-video> -->
<app-button-panel></app-button-panel>
<!-- <div id="rotator-arm">
    <div id="arm-top"></div>
    <div id="arm-bottom"></div>
</div> -->
<div id="iss-feed">
    <iframe width="480" height="270" src="https://www.ustream.tv/embed/9408562?html5ui" scrolling="no" allowfullscreen webkitallowfullscreen frameborder="0" style="border: 0 none transparent;"></iframe>
</div>